body > .container {
  margin-top: 2px;
  background-image: linear-gradient(#9A2521, #9D2722);
}

.lineup-col {
  background: #DA3832;
  border: 2px solid #851A1D;
  border-radius: 4px;
}

.lineup-col img.pokeball{
  position: absolute;
  width: 5%;
  right: -30px;
  z-index: 999;
}


.lineup-col img.pokeball.top{
  top: -5px;
}


.lineup-col img.pokeball.bottom{
  bottom: -5px;
}

.row.lineup-container {
  border: 5px ridge #c3c3c3;
  background: #efefef;
  padding-top: 15px;
  margin: 20px;
}

.lineup.card {
  background: #fff;
  margin-bottom: 20px;
  height: 170px;
}

.lineup.card > .pokemon-img {
  background: url('/images/stage.png') no-repeat 0px 42px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.lineup.card > img {
  width: 60%;
}

.lineup.card .card-link {
  cursor: pointer;
}

.lineup.empty.card > img {
  vertical-align: middle;
  margin-top: 20px;
  width: 50%;
}

.card.poke-information {
  border: 2px solid black;
  height: 200px;
  overflow: scroll;
  margin: 0 20px;
  -webkit-overflow-scrolling: touch;
}

.col.pokedex-col {
  padding-right: 0px
}

.pokedex {
  border: 2px solid #851A1D;
  border-radius: 4px;
  background: #DA3832;
  padding: 10px;
}

.pokedex h4 {
  color: #FFF;
}

.pokedex nav {
  margin-top: 10px;
}

.pokedex .list-group {
  height: 550px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
